canvas{
    border-color: brown;
    border-radius: 30px;
    border-style: dotted;
}
body{
    background-image: url("fsgerfw.jpg");
    
}
.buttonclass{
    width: 250;
    height: 65;
}